.whole-live-anywhere{
    margin-top: 20px;
    padding: 10px 70px;

    .title{
        margin-bottom: 10px;
        padding: 10 20px;
        font-size: 30px;
        font-family: 'Ramabhadra', sans-serif;
    }

    .items-container{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        .item{
            display: grid;
            justify-content: space-between;

            .item-image{
                border-radius: 20px;
                width: 330px;
                height: 330px;
            }

            .item-name{
                margin-top: 7px;
                font-family: 'Ramabhadra', sans-serif;
                font-size: 16px;
                letter-spacing: 1px;
                display: block;

            }
        }
    }

    @media (max-width:480px){
        .items-container{
            grid-template-columns: 1fr;
            
        }
    }
}