.whole-block-lang {
    position: absolute;
    width: 1035px;
    height: 710px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(173,231,143,1) 100%);
    top: 5vh;
    left: 17vw;
    border-radius: 0.8rem;
    z-index: 1000;
}